<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <script type="text/javascript">
  		var result = <%- JSON.stringify(locals) %>;
  		console.log(result);
  </script>
  <body>
    <div id="loader" class="loader-wrapper">
      <div class="loader">
      </div>
    </div>

    <div class="header">
      <%= title %>
    </div>

    <div class="container">
      <div class="main">
        <% for(var i = 0 ; i < locals.list.length; ++i) { %>
        <% if(!locals.list[i].active) continue; %>
        <div class="row" >

          <div class="index">
            <span><%= locals.list[i].name %></span>
            <span><a target="_blank" href="<%- locals.list[i].url %>"><%= locals.list[i].url %></a></span>
            <span id="<%=locals.list[i]._id%>" url="<%=locals.list[i].url%>" class="expand" active='0'>▼</span>

          </div>

          <div class="content" active='0'>

          </div>
        </div>
        <% } %>
      </div>
    </div>




    <script type="text/javascript">
      $(function() {

         $(".row .index .expand").click(function() {

           var id = $(this).attr('id');
           var url = $(this).attr('url');
           var self =  $(this).parent('.index');
           var active = self.find('.expand').attr('active');
           var content = self.siblings('.content').attr('active');

           if(Number(active)) {
             $(self).siblings('.content').slideUp();
             $(self).find('.expand').attr('active', '0');
             $(self).find('.expand').text('▼');
           } else {
             if(Number(content)) {
               $(self).siblings('.content').slideDown();
               $(self).find('.expand').attr('active', '1');
               $(self).find('.expand').text('▲');
             } else {
               $("#loader").show();
               $.post('/api/getList', { _id : id }, function(res) {
                 if(res.success){
                   var html = '';
                   var links = res.links;

                   for(var i = 0; i < links.length; ++i) {
                     if(links[i].title.trim() === '') continue;

                     if(!links[i].link.includes('http')) {
                       links[i].link = url + '/' + links[i].link;
                     }
                     html += '<span>' + links[i].title + '</span>' +
                              '<span>' + '<a target="_blank" href=' + links[i].link + '>' + links[i].link + '</a>' + '</span>';
                   }

                   $(self).siblings('.content').attr('active', '1').append(html);
                   $(self).find('.expand').attr('active', '1');
                   $(self).siblings('.content').slideDown();
                   $(self).find('.expand').text('▲');
                   $("#loader").hide();
                 } else {
                   alert('링크가 막힌것 같습니다. 다른 곳을 해보세요!');
                   $("#loader").hide();
                 }
               });
             }


           }


         });

      });
    </script>
  </body>
</html>
