<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="귀차니즘을 넘어선 링크 모듬 정식!" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HREF만" />
    <meta property="og:description" content="귀차니즘을 넘어선 링크 모듬 정식!" />
    <meta property="og:image" content="http://theuniq.co.kr/www/bizedemo60952/img/opengraph_logo.png" />
    <meta property="og:url" content=http://hrefman.com />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.sticky.js'></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121327551-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121327551-2');
    </script>
  </head>
  <script type="text/javascript">
  		var result = <%- JSON.stringify(locals) %>;
  		console.log(result);
  </script>
  <body>
    <div id="loader" class="loader-wrapper">
      <div class="loader">
      </div>
    </div>

    <div class="header">
      <h2><%= title %></h2>
      <h4>아래 링크를 클릭해서 직접 들어가거나 화살표를 누르면 해당 링크의 메인페이지 링크를 모두 불러와요!</h4>
    </div>

    <div id="sub-header">
      <% for(var i = 0; i < locals.list.length; ++i) { %>
        <span class="">
          <a id="<%=locals.list[i].name%>"><%= locals.list[i].name %></a>
        </span>
      <% } %>
    </div>

    <div class="container">
      <div class="main">
        <% for(var i = 0 ; i < locals.list.length; ++i) { %>
        <div class="row" >

          <div name="<%=locals.list[i].name%>" class="index">
            <span name="<%= locals.list[i].name %>"><%= locals.list[i].name %></span>
            <span><a target="_blank" href="<%- locals.list[i].url %>"><%= locals.list[i].url %></a></span>
            <span id="<%=locals.list[i]._id%>" url="<%=locals.list[i].url%>" class="expand" active='0'>▼</span>
          </div>

          <div class="content" active='0'>
          </div>
        </div>
        <% } %>
      </div>
    </div>


    <script type="text/javascript">
      $(function() {
         $("#sub-header").sticky({topSpacing:0, zIndex:2});

         $("#sub-header > span").click(function() {
           var target = $(this).find("a").attr('id');
           console.log(target);
           console.log("span[name="+target+"] .name");
           console.log($("span[name="+target+"]").offset().top);
           $("html").animate({
                scrollTop: $("span[name="+target+"]").offset().top - 100
            }, 500);
         });

         $(".row .index .expand").click(function() {

           var id = $(this).attr('id');
           var url = $(this).attr('url');
           var self =  $(this).parent('.index');
           var active = self.find('.expand').attr('active');
           var content = self.siblings('.content').attr('active');

           if(self.hasClass('active')){
             self.removeClass('active');
           } else {
             self.addClass('active');
           }

           if(Number(active)) {
             $(self).siblings('.content').slideUp();
             $(self).find('.expand').attr('active', '0');
             $(self).find('.expand').text('▼');
           } else {
             if(Number(content)) {
               $(self).siblings('.content').slideDown();
               $(self).find('.expand').attr('active', '1');
               $(self).find('.expand').text('▲');
             } else {
               $("#loader").show();
               $.post('/api/getList', { _id : id }, function(res) {
                 console.log(res);
                 if(res.success){
                   var html = '';
                   var links = res.links;

                   for(var i = 0; i < links.length; ++i) {
                     if(links[i].title.trim() === '') continue;

                     if(!links[i].link.includes('http')) {
                       links[i].link = url + '/' + links[i].link;
                     }
                     html += '<span>' + links[i].title + '</span>' +
                              '<span>' + '<a target="_blank" href=' + links[i].link + '>' + links[i].link + '</a>' + '</span>';
                   }

                   $(self).siblings('.content').attr('active', '1').append(html);
                   $(self).find('.expand').attr('active', '1');
                   $(self).siblings('.content').slideDown();
                   $(self).find('.expand').text('▲');
                   $("#loader").hide();
                 } else {
                   alert('링크가 막힌것 같습니다. 다른 곳을 해보세요!');
                   $("#loader").hide();
                 }
               });
             }


           }


         });

      });
    </script>
  </body>
</html>
